Dockerfile
README.md

.sass-cache
.io-config.json
.dockerignore
.git
.gitignore

hooks/
platforms/
node_modules/
www/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
resources/
plugins/

*.zip
*.tar*