.login_frm{
    margin-top:180px;
    padding: 10px;
}
ion-item {
    --background: rgba(0,0,0,0);
    --background-focused: var(--ion-color-primary);
    --border-color: white;
}
.white{
    color: white;
}