<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="margin-auto" size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
        <div>
          <ion-grid fixed style="border: 1px dashed #00d58b;border-radius: 10px;">
            <div class="lable-step">
              Basic
            </div>
            <div class="icon-circle" (click)="isEdit(1)">
              <ion-icon name="create"></ion-icon>
            </div>
            <ion-row>
              <ion-col class="margin-auto" size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditOne">
                  <ion-label position="stacked">First Name</ion-label>
                  <ion-input  [(ngModel)]="basicDetails.firstName" placeholder="enter first name"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditOne">
                  First Name:&nbsp;{{basicDetails.firstName}}
                </ion-label>
              </ion-col>
              <ion-col class="margin-auto" size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditOne">
                  <ion-label position="stacked">Middle Name</ion-label>
                  <ion-input [(ngModel)]="basicDetails.middleName" placeholder="enter middle name"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditOne">
                    Middle Name:&nbsp;{{basicDetails.middleName}}
                </ion-label>
              </ion-col>
              <ion-col class="margin-auto" size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item  *ngIf="isEditOne">
                  <ion-label position="stacked">Last Name</ion-label>
                  <ion-input  [(ngModel)]="basicDetails.lastName" placeholder="enter last name"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditOne">
                    Last Name:&nbsp;{{basicDetails.lastName}}
                </ion-label>
              </ion-col>
              <ion-col class="margin-auto" size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditOne">
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input [(ngModel)]="basicDetails.email" placeholder="enter email address"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditOne">
                    Email:&nbsp;{{basicDetails.email}}
                </ion-label>
              </ion-col>
              <ion-col class="margin-auto" size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditOne">
                  <ion-label position="stacked">Date of Birth</ion-label>
                  <ion-datetime [(ngModel)]="basicDetails.dateOfBirth" placeholder="YYYY-MM-DD" display-format="YYYY-MM-DD"></ion-datetime>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditOne">
                    Date of Birth:&nbsp;{{basicDetails.dateOfBirth}}
                </ion-label>
              </ion-col>
              <ion-col class="margin-auto" size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditOne">
                  <ion-label position="stacked">Nationality</ion-label>
                  <ion-select  [(ngModel)]="basicDetails.nationality" placeholder="select nationality" interface="popover">
                    <ion-select-option *ngFor="let country of countryDrp"  value="{{country.id}}">{{country.countryNiceName}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditOne">
                    Nationality:&nbsp;{{basicDetails.nationality}}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="isEditOne" text-right size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                <br/>
                <ion-button color="primary" (click)="updateBasicInfo()">Save</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div style="margin-top:15px;">
          <ion-grid fixed style="border: 1px dashed #00d58b;border-radius: 10px;">
            <div class="lable-step">
              Document
            </div>
            <div class="icon-circle" (click)="isEdit(2)">
              <ion-icon name="create"></ion-icon>
            </div>
            <ion-row>
              <ion-col class="margin-auto" size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditTwo">
                  <ion-label position="stacked">Document</ion-label>
                  <ion-select [(ngModel)]="itemTwoObj.documentTypeCode" placeholder="select document" interface="popover">
                    <ion-select-option *ngFor="let document of documentTypes"  value="{{document.code}}">{{document.description}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditTwo">
                    Document:&nbsp;{{itemTwoObj.documentTypeCode}}
                </ion-label>
              </ion-col>
              
              <ion-col *ngIf="isEditTwo" text-right size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                  <ion-content padding>
                    <app-multi-file-upload></app-multi-file-upload>
                  </ion-content>
                <br/>
                <ion-button color="primary" (click)="stepTwoSubmit()">Save</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div style="margin-top:15px;">
          <ion-grid fixed style="border: 1px dashed #00d58b;border-radius: 10px;">
            <div class="lable-step">
              Address
            </div>
            <div class="icon-circle" (click)="isEdit(3)">
              <ion-icon name="create"></ion-icon>
            </div>
            <ion-row>
              <ion-col size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditThree">
                  <ion-label position="stacked">House No
                  </ion-label>
                  <ion-input  [(ngModel)]="addressDetails.houseNumber" placeholder="enter house no"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditThree">
                    House No:&nbsp;{{addressDetails.houseNumber}}
                </ion-label>
              </ion-col>
              <ion-col size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditThree">
                  <ion-label position="stacked">Street
                  </ion-label>
                  <ion-input  [(ngModel)]="addressDetails.street" placeholder="enter street name"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditThree">
                    Street:&nbsp;{{addressDetails.street}}
                </ion-label>
              </ion-col>
              <ion-col size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditThree">
                  <ion-label position="stacked">City
                  </ion-label>
                  <ion-input  [(ngModel)]="addressDetails.city" placeholder="enter city name"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditThree">
                    City:&nbsp;{{addressDetails.city}}
                </ion-label>
              </ion-col>
              <ion-col size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditThree">
                  <ion-label position="stacked">Zip
                  </ion-label>
                  <ion-input  [(ngModel)]="addressDetails.zipCode" placeholder="enter zip code"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditThree">
                    Zip:&nbsp;{{addressDetails.zipCode}}
                </ion-label>
              </ion-col>
              <ion-col size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditThree">
                  <ion-label position="stacked">State / Region
                  </ion-label>
                  <ion-input  [(ngModel)]="addressDetails.state" placeholder="enter state or region"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditThree">
                    State / Region:&nbsp;{{addressDetails.state}}
                </ion-label>
              </ion-col>
              <ion-col size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
                <ion-item *ngIf="isEditThree">
                  <ion-label position="stacked">Country
                  </ion-label>
                  <ion-select  [(ngModel)]="addressDetails.countryCode" placeholder="select country" interface="popover">
                    <ion-select-option *ngFor="let country of countries"  value="{{country.id}}">{{country.countryName}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditThree">
                    Country:&nbsp;{{addressDetails.countryCode}}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="isEditThree" text-right size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                <br/>
                <ion-button color="primary" (click)="updateAddress()">Save</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div style="margin-top:15px;">
          <ion-grid fixed style="border: 1px dashed #00d58b;border-radius: 10px;">
            <div class="lable-step">
              Number
            </div>
            <div class="icon-circle" (click)="isEdit(4)">
              <ion-icon name="create"></ion-icon>
            </div>
            <ion-row>
              <ion-col *ngIf="isEditFour" size="4" size-sm="4" size-md="3" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="stacked">Home</ion-label>
                  <ion-select disabled="{{!isEditFour}}" [(ngModel)]="homeNumber.countryCode" placeholder="Code" interface="popover">
                    <ion-select-option value="+91">+91</ion-select-option>
                    <ion-select-option value="+41">+41</ion-select-option>
                    <ion-select-option value="+45">+45</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="8" size-sm="8" size-md="9" size-lg="9" size-xl="9">
                <ion-item *ngIf="isEditFour">
                  <ion-label position="stacked">&nbsp;</ion-label>
                  <ion-input readonly="{{!isEditFour}}" [(ngModel)]="homeNumber.number" placeholder="Number"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditFour">
                    Home:&nbsp;{{basicDetails.home_phone_code?basicDetails.home_phone_code:''}}&nbsp;{{homeNumber.number}}
                </ion-label>
              </ion-col>

              <ion-col *ngIf="isEditFour" size="4" size-sm="4" size-md="3" size-lg="3" size-xl="3">
                <ion-item *ngIf="isEditFour">
                  <ion-label position="stacked">Mobile</ion-label>
                  <ion-select disabled="{{!isEditFour}}" [(ngModel)]="basicDetails.mobile_code" placeholder="Code" interface="popover">
                    <ion-select-option value="+91">+91</ion-select-option>
                    <ion-select-option value="+41">+41</ion-select-option>
                    <ion-select-option value="+45">+45</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="8" size-sm="8" size-md="9" size-lg="9" size-xl="9">
                <ion-item *ngIf="isEditFour">
                  <ion-label position="stacked">&nbsp;</ion-label>
                  <ion-input readonly="{{!isEditFour}}" [(ngModel)]="mobileNumber.number" placeholder="Number"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditFour">
                    Mobile:&nbsp;{{basicDetails.mobile_code?basicDetails.mobile_code:''}}&nbsp;{{mobileNumber.number}}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="isEditFour" size="4" size-sm="4" size-md="3" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="stacked">Office</ion-label>
                  <ion-select disabled="{{!isEditFour}}" [(ngModel)]="basicDetails.office_phone_code" placeholder="Code" interface="popover">
                    <ion-select-option value="+91">+91</ion-select-option>
                    <ion-select-option value="+41">+41</ion-select-option>
                    <ion-select-option value="+45">+45</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="8" size-sm="8" size-md="9" size-lg="9" size-xl="9">
                <ion-item *ngIf="isEditFour">
                  <ion-label position="stacked">&nbsp;</ion-label>
                  <ion-input readonly="{{!isEditFour}}" [(ngModel)]="officeNumber.number" placeholder="Number"></ion-input>
                </ion-item>
                <ion-label class="mar-l-16" position="stacked" *ngIf="!isEditFour">
                    Office:&nbsp;{{basicDetails.office_phone_code?basicDetails.office_phone_code:''}}&nbsp;{{officeNumber.number}}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="isEditFour" text-right size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                <br/>
                <ion-button color="primary" (click)="updatePhoneNumbers()">Save</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




